body {
    background-color: rgba(77, 160, 255, 0.466);
    margin: 0; /* Añadido para eliminar el margen predeterminado del body */
    padding: 0; /* Añadido para eliminar el padding predeterminado del body */
}

#idContenedor {
    height: 100vh;
    width: 100%;
}

#idEncbezado, #idMenu, #idSeccion, #idPiePag {
    width: 100%; 
}
#idSeccion{
    height: 81%;
}

#idEncbezado, #idPiePag {
    background-size: cover;
}

#idEncbezado {
    background-image: url(../img/depositphotos_99126836-stock-illustration-abstract-digital-web-site-header.jpg);
}

#idPiePag {
    background-image: url(../img/website-header-banner-design-abstract-260nw-2068520603.webp);
}
